.calendar {
    margin-top: 30px;
}

.calendar-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.calendar-item {
    margin: 15px;
}

.pagination {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination li {
    display: inline-block;
}
.pagination li.active {
    background-color: blue;
}